/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
}

header {
  padding: 80px;
  background: url("/assets/newrope.jpg");
  margin: 0;
  position: sticky;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  background-color: black;
  padding: 20px 0;
}

.title {
  color: white;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.title.hover {
  color: white;
}

h1 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.errors {
  display: inline-block;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("https://pixabay.com/get/eb3cb50d2af1063ed1534705fb094197e571e3dc11ac104494f1c979afeab3bd/salad-2942257_1920.jpg");
  background-repeat: no-repeat;
  min-height: 700px;
}

.recipe {
  padding: 20px;
  border: 15px black solid;
  background-color: #d7c098;
  margin: 30px;
}

a {
  text-decoration: none;
  color: white;
}

.instructions {
  /*border: 2px solid black;*/
  background-color: #ddd;
  padding: 10px;
}

.break {
  color: black;
}

.comments {
  margin: 0;
}

.comment {
  border: 0 black solid;
  padding: 0;
  background-color: #d7c098;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author {
  font-weight: normal;
  font-size: 14px;
  margin: 0;
}

.comment_body {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ddd;
}

.commenter {
  margin: 0;
}

.timestamp {
  font-size: 11px;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 5px;
}

a:hover {
  color: green;
}

.flash {
  border: 1px solid black;
  padding: 1em;
  background: #ddd;
  display: inline-block;
}

.alert {
  color: red;
  display: inline-block;
}

.notice {
  color: blue;
  display: inline-block;
}
